				<div class="col-md-12" ng-show="tabs.tab === 2">
					<ul class="list-group">
						<li class="list-group-item">
							<strong>{{artCtrl.artist.popular[0]}}</strong>
							<span class="badge">{{artCtrl.artist.stats.madrugada | number}} veces</span>
						</li>
						<li class="list-group-item">
							<strong>{{artCtrl.artist.popular[1]}}</strong>
							<span class="badge">{{artCtrl.artist.stats.nomeolvides | number}} veces</span>
						</li>
						<li class="list-group-item">
							<strong>{{artCtrl.artist.popular[2]}}</strong>
							<span class="badge">{{artCtrl.artist.stats.traicionero | number}} veces</span>
						</li>
						<li class="list-group-item">
							<strong>{{artCtrl.artist.popular[3]}}</strong>
							<span class="badge">{{artCtrl.artist.stats.ella | number}} veces</span>
						</li>
						<li class="list-group-item">
							<strong>{{artCtrl.artist.popular[4]}}</strong>
							<span class="badge">{{artCtrl.artist.stats.otranochemas | number}} veces</span>
						</li>
					</ul>
				</div>